*{
   padding: 0;
   color: #fff;
}

.inicio{
     width: 100%;
     height: 100%;
}

body{
    background-color: black;
    width: 100%;
    height: 100%;
}
.text-area {
	display: flex; 
    align-items: center;
    justify-content: center;  
	width: 100%;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px #fff;
    
}

.icons-contatos #contatos {
    height: 85px;
    width: 140px;
    margin-left: 20px;
}

.imagem {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.imagem:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
    opacity: 0.8; /* Torna a imagem um pouco transparente */
    filter: grayscale(100%) brightness(50%) contrast(80%);
}


.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
}
.round {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #01b4f9;
	border: 5px solid #01b4f9;
	opacity: 0;
	box-shadow: 0 0 100px #01b4f9, 0 0 10px #01b4f9, 0 0 20px #01b4f9;
	animation: animate 4s linear infinite, ani-2 2s linear infinite;
}
.round:nth-child(1) {
	left: 5%;
	animation-delay: 0.5s;
}
.round:nth-child(2) {
	left: 65%;
	animation-delay: 1s;
}
.round:nth-child(3) {
	left: 90%;
	animation-delay: 1.5s;
}
.round:nth-child(4) {
	left: 18%;
	animation-delay: 2s;
}
.round:nth-child(5) {
	left: 93%;
	animation-delay: 2.5s;
}
.round:nth-child(6) {
	left: 52%;
	animation-delay: 3s;
}
.round:nth-child(7) {
	left: 65%;
	animation-delay: 3.5s;
}
.round:nth-child(8) {
	left: 35%;
	animation-delay: 4s;
}
.round:nth-child(9) {
	left: 85%;
	animation-delay: 4.5s;
}
.round:nth-child(10) {
	left: 45%;
	animation-delay: 5s;
}
.round:nth-child(11) {
	left: 36%;
	animation-delay: 5.5s;
}
.round:nth-child(12) {
	left: 72%;
	animation-delay: 6s;
}
.round:nth-child(13) {
	left: 14%;
	animation-delay: 6.5s;
}
.round:nth-child(14) {
	left: 70%;
	animation-delay: 7s;
}
@keyframes animate {
	0% {
		top: 0;
		opacity: 1;
	}
	20% {
		top: 20%;
		opacity: 0.8;
	}
	40% {
		top: 40%;
		opacity: 0.6;
	}
	60% {
		top: 60%;
		opacity: 0.4;
	}
	80% {
		top: 80%;
		opacity: 0.2;
	}
	100% {
		top: 100%;
		opacity: 0;
	}
}
@keyframes ani-2 {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(2.5);
	}
}

.textarea{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
h2{
    font-size: 75px;
    font-family: Lalezar;
    text-shadow: 0 0 100px #00fff4;
    letter-spacing: 15px;
    color: #14a9c6;  
   
}

.container-grid {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
}

h1{
    font-size: 75px;
    font-family: Lalezar;
    color: #14a9c6;
    text-shadow: 0 0 100px #00fff4;

    display: flex;
    justify-content: center;
    
}

.conteudo-sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 200px;

}

.conteudo-sobre p{
    font-family: lalezar;
    text-shadow: 0 0 3px #00fff4;
    font-size: 24px;
    color: #fff;
    text-align: left;
    
    height: 400px;
    width: 600px;
}
  
.conteudo-sobre > img{
    width: 380px;
    height: 238px;
    margin-right: 20px;
    margin-top: -153px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 0 50px #00fff4;
    transform: rotate(90deg); /* gira 90 graus */
}


.habilidades {
    background-color: black;
    width: 100%;
    height: 95vh;

}
.container-hab{
    width: 100%;
    height: 100%;
    
}
.habilidades .container-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20vh; 
}

.habilidades span{
    font-size: 75px;
    font-family: Lalezar;
    color: #14a9c6;
    text-shadow: 0 0 100px #00fff4;


    display: flex;
    justify-content: center;
    padding-top: 100px;


}

#icones-hab {
    height: 150px;
    width: 150px;

}

.habilidades p {
    color: #fff;
    text-align: center;
    font-family: Lalezar;
}

.msgcontatos {
    background-color: black;
    width: 100%;
    height: 95vh;

}

main, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    min-width: 420px;
    max-width: 700px;
    margin: 100px auto;
    border-radius: 85px;
    box-shadow: 0px 0px 80px #00d6cd;
    border: none;
}

main span, form h1 {
    font-weight: 300;
    font-size: 2.5em;
    margin: 30px 0;
}

form input, textarea {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 29px;
    width: 70%;
    min-width: 300px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 5px #00fff4;
    background-color: #30b5cf;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.4em;
    font-family: lalezar;
}


form button {
    padding: 15px;
    width: 290px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    background-color: #14a9c6;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    box-shadow: 0px 0px 5px #00fff4;
}

form button:hover {
    opacity: 0.9;
    cursor: pointer;
}

form button:active {
    transform: translateY(1px);
}

.projetos {
  padding: 60px 20px;
  text-align: center;
  
}

.projetos h2 {
  font-size: 75px;
  font-family: Lalezar;
  margin-bottom: 10px;
  color: #14a9c6;
  text-shadow: 0 0 100px #00fff4;
}

.projetos p {
  font-size: 1.1rem;
  color: #14a9c6;
  text-shadow: 0 0 100px #00fff4;
  margin-bottom: 40px;
}

/* Grid de projetos */
.grid-projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Cards de projeto */
.card-projeto {
  background-color: #000000;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0px 0px 20px #00fff4;
}

.card-projeto:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.card-projeto img {
  width: 100%;
  height: 410px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza horizontalmente */
}

.card-info h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.card-info p {
  font-size: 30px;
  font-family: lalezar;
  color: #ffffff;
  
}

.card-info a {
  margin-top: -20px;
  text-decoration: none;
  color: #000000;
  padding: 20px 20px;
  border-radius: 8px;
  transition: background-color 0.3s;
  border-radius: 29px;
  box-shadow: 0px 0px 5px #00fff4;
  background-color: #30b5cf;
  
}

.card-info a:hover {
  background-color: #11d4f7;
}
